# This file defines the ownership of modules in the repo for PR reviewing purposes.

* @jmcalalang @vinnie357

# Network module owners
/modules/aws/terraform/network/ @yossi-r
/modules/azure/terraform/network/ @JeffGiroux
/modules/google/terraform/network/ @memes
