# This file defines the ownership of modules in the repo for PR reviewing purposes.

* @jmcalalang @vinnie357

# Network module owners
/aws/terraform/network/ @yossi-r
/azure/terraform/network/ @JeffGiroux
/google/terraform/network/ @memes
