azureVnet = {
  cidr          = "10.1.0.0/16",
  azureZones    = ["1", "2"],
  azureRegion   = "West US 2"
  azureLocation = "westus2"
}

context = {
  resourceOwner = "testClient",
  random        = "somePrefix"
}