# project
prefix       = "demonginx"
gcpProjectId = "myprojectid"
gcpRegion    = "us-east1"
gcpZone      = "us-east1-b"
# admin
adminAccount       = "notadmin"
adminPassword      = "pleaseusevault123!"
adminSourceAddress = ["192.168.2.1/32", "192.168.2.3/32", "192.168.4.3/32"]
sshPublicKey    = "ssh-rsa AAAAB3NzaC1yc2EAAAA..."
#controller
controllerAccount = "zadmin@example.com"
controllerPass    = "pleaseUseVault123!!"
#nginx
nginxCert = <<EOT
fdsafdfsd
EOT
nginxKey  = <<EOT
fdsafdsaf
EOT
#https://github.com/hashicorp/terraform/issues/4835#issuecomment-313280534
