resourceOwner      = "fred"
sshPublicKey       = "ssh-rsa AAA"
projectPrefix      = "mynginx"
nginxConfRepo      = "https://github.com/exampleUser123/app1-nginx-configs.git"
userNameGitHubRepo = "exampleUser123"

# Remove comment and supply value to use existing managed identity
#userAssignedIdentityId = "/subscriptions/abc-xyz/resourcegroups/myrg1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myIdentity123"
