resourceOwner          = "fred"
sshPublicKey           = "ssh-rsa AAA"
projectPrefix          = "myn4a"
userAssignedIdentityId = "/subscriptions/abc-xyz/resourcegroups/myrg1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myIdentity123"
