resourceOwner      = "fred"
sshPublicKey       = "ssh-rsa AAA"
projectPrefix      = "mynginx"
gitRepoUrl         = "https://github.com/user123/f5-digital-customer-engagement-center.git"
gitTokenSecretName = "github-token-secret-name"
keyVaultName       = "myKv123
keyVaultRg         = "myKvRg123

# Remove comment and supply value to use existing managed identity
#userAssignedIdentityId = "/subscriptions/abc-xyz/resourcegroups/myrg1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myIdentity123"
