# admin
adminAccountName = "xadmin"
sshPublicKey = "keytype AAAA"
#admin_source_cidr = "0.0.0.0/0"
# aws
awsRegion       = "us-east-2"
awsAz1          = "us-east-2a"
awsAz2         = "us-east-2b"
#controller
controllerLicense = <<EOT
fdsafsafdfgafsgdfg
EOT
controllerAccount = "zadmin@example.com"
controllerPass    = "pleaseUseVault123!!"
dbuser            = "dbuser"
dbpass            = "dbpleaseUseVault123!!"
#nginx
nginxCert = <<EOT
fdsafdfsd
EOT
nginxKey  = <<EOT
fdsafdsaf
EOT
#https://github.com/hashicorp/terraform/issues/4835#issuecomment-313280534
